# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
# SPDX-License-Identifier: MIT

[package]
name = "dt-model-identifiers"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]

[lib]
path = "src/lib.rs"
crate-type = ["lib"]
