[submodule "external/opendigitaltwins-dtdl"]
	path = external/opendigitaltwins-dtdl
	url = https://github.com/Azure/opendigitaltwins-dtdl
[submodule "external/iot-plugandplay-models"]
	path = external/iot-plugandplay-models
	url = https://github.com/Azure/iot-plugandplay-models
