# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
# SPDX-License-Identifier: MIT

[workspace]

members = [
  # core
  "core/protobuf_data_access",
  "core/in-vehicle-digital-twin",

  # digital twin model
  "digital-twin-model",

  # DTDL parser
  "dtdl-parser",

  # samples
  "samples/common",
  "samples/protobuf_data_access",
  "samples/command",
  "samples/mixed",
  "samples/property",
]

[workspace.dependencies]
async-std = "^1.5"
env_logger= "0.10.0"
futures = "0.3"
generic-json = "^0.7"
iref = "^2.0.3"
lazy_static = "1.4.0"
log = "^0.4"
parking_lot = "0.12.1"
prost = "0.11"
regex = " 1.8.1"
tokio = "1.0"
tonic = "0.9.2"
tonic-build = "0.9.2"
serde = "1.0.160"
serde_json = "^1.0"
strum = "0.24"
strum_macros = "0.24"
uuid = "1.2.2"
