# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
# SPDX-License-Identifier: MIT

[workspace]

members = [
  "common",
  "common-test",
  "dt-model/dt-model-identifiers", 
  "dtdl-parser",
  "in-vehicle-digital-twin",
  "samples/proto",
  "samples/command/consumer",
  "samples/command/provider",
#  "samples/mixed/consumer",
#  "samples/mixed/provider",
#  "samples/property/consumer",
#  "samples/property/provider"
]

[workspace.dependencies]
async-std = "^1.5"
env_logger= "0.10.0"
futures = "0.3"
generic-json = "^0.7"
iref = "^2.0.3"
lazy_static = "1.4.0"
log = "^0.4"
parking_lot = "0.12.1"
prost = "0.11"
regex = " 1.8.1"
tokio = "1.0"
tonic = "0.9.2"
tonic-build = "0.9.2"
serde = "1.0.160"
serde_json = "^1.0"
strum = "0.24"
strum_macros = "0.24"
uuid = "1.2.2"
